@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px; }

body {
  background-color: #d6d6d6;
  font-family: 'Aleo', serif; }

h1 {
  text-align: center;
  font-size: 80px;
  color: white; }

h2 {
  text-align: center; }

h4 {
  padding: 10px; }

p {
  text-align: center;
  padding: 10px;
  line-height: 20px; }

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  padding: 20px;
  background-color: black; }

/* NAVEGACIÓN */
.header__nav {
  background-color: #ffc9d9; }

.nav-link {
  color: white; }

/* INICIO */
.portada__img {
  width: 1200px;
  height: 800px; }

/* NOSOTROS */
.nosotros__titulo {
  text-align: center; }

.galeria__nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "fotocamillas textouno"
 "textodos fotopuerta"; }

.fotocamillas {
  grid-area: fotocamillas;
  padding: 10px; }

.textouno {
  grid-area: textouno;
  text-align: left;
  margin: auto; }

.textodos {
  grid-area: textodos;
  text-align: right;
  margin: auto; }

.fotopuerta {
  grid-area: fotopuerta;
  padding: 10px; }

.galeria__nosotros-items {
  width: 600px;
  height: 400px;
  margin: auto; }

/* SERVICIOS */
.servicios__grid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
  grid-template-areas: "tintura cejas facial"
 "manicuria corporal botox"
 "pelo corporal lifting";
  padding: 15px; }

.tintura {
  grid-area: tintura;
  background-image: url("../recursos/serviciostinturafoto.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.manicuria {
  grid-area: manicuria;
  background-image: url("../recursos/nailscontactos.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.cejas {
  grid-area: cejas;
  display: flex;
  background-image: url("../recursos/serviciocejas.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.facial {
  grid-area: facial;
  background-image: url("../recursos/serviciofacial.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.lifting {
  grid-area: lifting;
  background-image: url("../recursos/servicioslifting.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.corporal {
  grid-area: corporal;
  background-image: url("../recursos/serviciocorporal.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.botox {
  grid-area: botox;
  background-image: url("../recursos/serviciolabios.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat; }

.pelo {
  grid-area: pelo;
  background-image: url("../recursos/serviciopelo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.servicios__texto {
  display: flex;
  color: white;
  font-size: large;
  justify-content: center;
  align-items: flex-end; }

.servicios__texto:hover {
  transform: scale(1.1, 1.1);
  transition: all 20ms; }

/* CONTACTO */
.formulario__contacto {
  display: inline;
  font-size: 20px;
  text-align: center; }

/* CONTACTO */
.formulario__boton {
  background-color: #ffc9d9;
  border: white solid 1px; }

.formulario__img {
  display: flex;
  align-items: center; }

/* CLIENTES */
.clientes__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 20px;
  padding: 20px; }

.fotoclientes {
  grid-column: 1/2;
  grid-row: 1/4;
  background-image: url("../recursos/fotoclienteschica.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  padding: 10px; }

.clientea {
  grid-column: 2/3;
  grid-row: 1/2; }

.clienteb {
  grid-column: 3/4;
  grid-row: 1/2; }

.clientec {
  grid-column: 2/3;
  grid-row: 2/3; }

.cliented {
  grid-column: 3/4;
  grid-row: 2/3; }

.clientee {
  grid-column: 2/3;
  grid-row: 3/4; }

.clientef {
  grid-column: 3/4;
  grid-row: 3/4; }

.clientes__tarjetas {
  display: inline;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-image: linear-gradient(to left, #ffc9d9, #747474);
  border: #ffc9d9 solid 2px;
  margin: 10px;
  padding: 10px; }

.clientes__texto {
  color: white; }

/* FOOTER */
.footer__grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; }

.facebook {
  justify-content: center;
  grid-column: 2/3;
  grid-row: 1/2; }

.instagram {
  grid-column: 1/2;
  grid-row: 1/2; }

.wpp {
  grid-column: 3/4;
  grid-row: 1/2; }

.texto {
  grid-column: 1/4;
  grid-row: 2/3;
  color: white; }

.footer__iconos {
  width: 40px;
  height: 40px;
  margin: auto; }

.footer__iconos:hover {
  transform: scale(1.3, 1.3);
  transition: all 10ms; }

/* CELULAR */
@media (min-width: 320px) and (max-width: 575px) {
  header {
    height: auto; }
  h1 {
    font-size: 50px; }
  /* NAVEGACIÓN */
  .ocultar {
    display: none; }
  /* INDEX */
  .portada__img {
    width: auto;
    height: 200px; }
  /* MODIFICACIÓN SERVICIOS */
  .servicios__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(15 1fr);
    grid-template-areas: "tintura" 
 "tintura" 
 "cejas"
 "cejas"
 "facial"
 "facial"
 "manicuria"
 "manicuria"
 "corporal"
 "corporal"
 "botox"
 "botox"
 "pelo"
 "pelo"
 "lifting"; }
  .galeria__nosotros {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "fotocamillas"
 "textouno"
 "textodos" 
 "fotopuerta"; }
  .galeria__nosotros-items {
    width: auto;
    height: 200px;
    margin: auto; }
  .textouno {
    text-align: justify; }
  .textodos {
    text-align: justify; }
  /* FOOTER */
  .footer__iconos {
    width: 30px;
    height: 30px;
    margin: auto; }
  .texto {
    font-size: 12px; }
  /* CLIENTE */
  .clientes__grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
  .clientea {
    grid-column: 1/2;
    grid-row: 1/2; }
  .clienteb {
    grid-column: 1/2;
    grid-row: 2/3; }
  .clientec {
    grid-column: 1/2;
    grid-row: 3/4; }
  .cliented {
    grid-column: 1/2;
    grid-row: 4/5; }
  .clientee {
    grid-column: 1/2;
    grid-row: 5/6; }
  .clientef {
    grid-column: 1/2;
    grid-row: 6/7; }
  .clientes__tarjetas {
    width: 300px;
    margin: auto; }
  .fotoclientes {
    display: none; } }

/* TABLET */
@media (min-width: 576px) and (max-width: 992px) {
  h1 {
    font-size: 60px; }
  /* NAVEGACIÓN */
  .ocultar {
    display: none; }
  /* INDEX */
  .portada__img {
    width: auto;
    height: 500px; }
  /* MODIFICACIÓN SERVICIOS */
  .galeria__servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "manicuria corporal"
 "facial cabello"
 "perfilado lifting"
 "tintura botox"; }
  .manicuria {
    grid-area: manicuria; }
  .corporal {
    grid-area: corporal; }
  .facial {
    grid-area: facial; }
  .cabello {
    grid-area: cabello; }
  .perfilado {
    grid-area: perfilado; }
  .lifting {
    grid-area: lifting; }
  .tintura {
    grid-area: tintura; }
  .botox {
    grid-area: botox; }
  /* NOSOTROS */
  .galeria__nosotros {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "fotocamillas"
 "textouno"
 "textodos" 
 "fotopuerta"; }
  .galeria__nosotros-items {
    width: auto;
    height: 300px;
    margin: auto; }
  .textouno {
    text-align: justify; }
  .textodos {
    text-align: justify; }
  /* CLIENTES */
  .clientes__tarjetas {
    width: 250px; } }
