@charset "UTF-8";
/* FUENTES */
/* COLORES */
.grid-centrado, .servicios__grid .tintura, .servicios__grid .manicuria, .servicios__grid .cejas, .servicios__grid .facial, .servicios__grid .lifting, .servicios__grid .corporal, .servicios__grid .pelo {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.titulo-paginas, h1 {
  text-align: center;
  font-size: 30px;
  color: white;
  padding: 5px;
  margin: 5px; }

/* FOOTER */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  padding: 20px;
  background-color: black; }
  footer .footer__grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
    footer .footer__grid .facebook {
      justify-content: center;
      grid-column: 2/3;
      grid-row: 1/2; }
    footer .footer__grid .instagram {
      grid-column: 1/2;
      grid-row: 1/2; }
    footer .footer__grid .wpp {
      grid-column: 3/4;
      grid-row: 1/2; }
    footer .footer__grid .texto {
      grid-column: 1/4;
      grid-row: 2/3;
      color: white; }

.footer__iconos {
  width: 40px;
  height: 40px;
  margin: auto; }
  .footer__iconos:hover {
    transform: scale(1.3, 1.3);
    transition: all 10ms; }

/* NAVEGACIÓN */
.header__nav {
  background-color: #ffc9d9; }

.nav-link {
  color: white; }

/* INICIO */
.portada__img {
  width: 1200px;
  height: 800px; }

.h1__principal {
  text-align: center;
  font-size: 80px;
  color: white; }

/* NOSOTROS */
.nosotros__titulo {
  text-align: center; }

.galeria__nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "fotocamillas textouno" "textodos fotopuerta"; }
  .galeria__nosotros .fotocamillas {
    grid-area: fotocamillas;
    padding: 10px; }
  .galeria__nosotros .textouno {
    grid-area: textouno;
    text-align: left;
    margin: auto; }
  .galeria__nosotros .textodos {
    grid-area: textodos;
    text-align: right;
    margin: auto; }
  .galeria__nosotros .fotopuerta {
    grid-area: fotopuerta;
    padding: 10px; }
  .galeria__nosotros-items {
    width: 600px;
    height: 400px;
    margin: auto; }

/* CONTACTO */
.formulario__boton {
  background-color: #ffc9d9;
  border: white solid 1px; }

.formulario__img {
  display: flex;
  align-items: center; }

/* CLIENTES */
.clientes__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 20px;
  padding: 20px; }
  .clientes__grid .fotoclientes {
    grid-column: 1/2;
    grid-row: 1/4;
    background-image: url("../recursos/fotoclienteschica.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    padding: 10px; }
  .clientes__grid .clientea {
    grid-column: 2/3;
    grid-row: 1/2; }
  .clientes__grid .clienteb {
    grid-column: 3/4;
    grid-row: 1/2; }
  .clientes__grid .clientec {
    grid-column: 2/3;
    grid-row: 2/3; }
  .clientes__grid .cliented {
    grid-column: 3/4;
    grid-row: 2/3; }
  .clientes__grid .clientee {
    grid-column: 2/3;
    grid-row: 3/4; }
  .clientes__grid .clientef {
    grid-column: 3/4;
    grid-row: 3/4; }

.clientes__tarjetas {
  display: inline;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-image: linear-gradient(to left, #ffc9d9, #747474);
  border: #ffc9d9 solid 2px;
  margin: 10px;
  padding: 10px; }

.clientes__texto {
  color: white; }

/* SERVICIOS */
.servicios__grid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
  grid-template-areas: "tintura cejas facial" "manicuria corporal botox" "pelo corporal lifting";
  padding: 15px; }
  .servicios__grid .tintura {
    grid-area: tintura;
    background-image: url("../recursos/serviciostinturafoto.jpg"); }
  .servicios__grid .manicuria {
    grid-area: manicuria;
    background-image: url("../recursos/nailscontactos.jpg"); }
  .servicios__grid .cejas {
    grid-area: cejas;
    display: flex;
    background-image: url("../recursos/serviciocejas.jpg"); }
  .servicios__grid .facial {
    grid-area: facial;
    background-image: url("../recursos/serviciofacial.jpg"); }
  .servicios__grid .lifting {
    grid-area: lifting;
    background-image: url("../recursos/servicioslifting.jpg"); }
  .servicios__grid .corporal {
    grid-area: corporal;
    background-image: url("../recursos/serviciocorporal.jpg"); }
  .servicios__grid .botox {
    grid-area: botox;
    background-image: url("../recursos/serviciolabios.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat; }
  .servicios__grid .pelo {
    grid-area: pelo;
    background-image: url("../recursos/serviciopelo.jpg"); }

.servicios__texto {
  display: flex;
  color: white;
  font-size: large;
  justify-content: center;
  align-items: flex-end; }
  .servicios__texto:hover {
    transform: scale(1.1, 1.1);
    transition: all 20ms; }

* {
  padding: 0px;
  margin: 0px; }

body {
  font-family: "Roboto Slab", serif;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: #d6d6d6; }

h2 {
  text-align: center; }

h4 {
  padding: 10px; }

p {
  text-align: center;
  padding: 10px;
  line-height: 20px; }

/* CELULAR */
@media (min-width: 320px) and (max-width: 575px) {
  header {
    height: auto; }
  .h1__principal {
    text-align: center;
    font-size: 40px;
    color: white; }
  .titulo-paginas, h1 {
    font-size: 20px; }
  /* NAVEGACIÓN */
  .ocultar {
    display: none; }
  /* INDEX */
  .portada__img {
    width: auto;
    height: 200px; }
  /* MODIFICACIÓN SERVICIOS */
  .servicios__grid {
    width: auto;
    height: 200vw;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "tintura" "manicuria" "cejas" "facial" "lifting" "corporal" "botox" "pelo";
    margin: auto;
    padding: auto; }
    .servicios__grid .tintura {
      grid-area: tintura; }
    .servicios__grid .manicuria {
      grid-area: manicuria; }
    .servicios__grid .cejas {
      grid-area: cejas; }
    .servicios__grid .facial {
      grid-area: facial; }
    .servicios__grid .lifting {
      grid-area: lifting; }
    .servicios__grid .corporal {
      grid-area: corporal; }
    .servicios__grid .botox {
      grid-area: botox; }
    .servicios__grid .pelo {
      grid-area: pelo; }
    .servicios__grid__texto:hover {
      display: none; }
  /* MODIFICACIÓN NOSOTROS */
  .galeria__nosotros {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "fotocamillas" "textouno" "textodos"  "fotopuerta"; }
    .galeria__nosotros-items {
      width: auto;
      height: 200px;
      margin: auto; }
    .galeria__nosotros .textouno {
      text-align: justify; }
    .galeria__nosotros .textodos {
      text-align: justify; }
  /* FOOTER */
  .footer__iconos {
    width: 30px;
    height: 30px;
    margin: auto; }
  .texto {
    font-size: 12px; }
  /* CLIENTE */
  .clientes__grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
    .clientes__grid .clientea {
      grid-column: 1/2;
      grid-row: 1/2; }
    .clientes__grid .clienteb {
      grid-column: 1/2;
      grid-row: 2/3; }
    .clientes__grid .clientec {
      grid-column: 1/2;
      grid-row: 3/4; }
    .clientes__grid .cliented {
      grid-column: 1/2;
      grid-row: 4/5; }
    .clientes__grid .clientee {
      grid-column: 1/2;
      grid-row: 5/6; }
    .clientes__grid .clientef {
      grid-column: 1/2;
      grid-row: 6/7; }
    .clientes__grid .fotoclientes {
      display: none; }
  .clientes__tarjetas {
    width: 230px;
    margin: auto; } }

/* TABLET */
@media (min-width: 576px) and (max-width: 992px) {
  .h1__principal {
    text-align: center;
    font-size: 60px;
    color: white; }
  .titulo-paginas, h1 {
    font-size: 40px; }
  /* NAVEGACIÓN */
  .ocultar {
    display: none; }
  /* INDEX */
  .portada__img {
    width: auto;
    height: 500px; }
  /* MODIFICACIÓN SERVICIOS */
  .galeria__servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "manicuria corporal" "facial cabello" "perfilado lifting" "tintura botox"; }
    .galeria__servicios .manicuria {
      grid-area: manicuria; }
    .galeria__servicios .corporal {
      grid-area: corporal; }
    .galeria__servicios .facial {
      grid-area: facial; }
    .galeria__servicios .cabello {
      grid-area: cabello; }
    .galeria__servicios .perfilado {
      grid-area: perfilado; }
    .galeria__servicios .lifting {
      grid-area: lifting; }
    .galeria__servicios .tintura {
      grid-area: tintura; }
    .galeria__servicios .botox {
      grid-area: botox; }
  /* NOSOTROS */
  .galeria__nosotros {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "fotocamillas" "textouno" "textodos"  "fotopuerta"; }
    .galeria__nosotros-items {
      width: auto;
      height: 300px;
      margin: auto; }
    .galeria__nosotros .textouno {
      text-align: justify; }
    .galeria__nosotros .textodos {
      text-align: justify; }
  /* CLIENTES */
  .clientes__tarjetas {
    width: 200px;
    height: 200px; } }
