/* CELULAR */
@media (min-width: 320px) and (max-width: 575px){
    
    header {
        height: auto;
    }

    .h1__principal {
        text-align: center;
        font-size: 40px;
        color: white;
    }

    .titulo-paginas {
        font-size: 20px;
    }

    /* NAVEGACIÓN */
    .ocultar {
        display: none; 
    }
    
    /* INDEX */
    .portada__img {
        width: auto;
        height: 200px;
    }

    /* MODIFICACIÓN SERVICIOS */
    .servicios__grid {
        width: auto;
        height: 200vw;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows:auto;
        grid-template-areas: "tintura"
                            "manicuria"
                            "cejas"
                            "facial"
                            "lifting"
                            "corporal"
                            "botox"
                            "pelo";
        margin: auto;
        padding: auto;

        .tintura {
            grid-area: tintura;
        }
        
        .manicuria {
            grid-area: manicuria;
        }
        
        .cejas {
            grid-area: cejas;
        }
        
        .facial {
            grid-area: facial;
        }
        
        .lifting {
            grid-area: lifting;
        }
        
        .corporal {
            grid-area: corporal;
        }
        
        .botox {
            grid-area: botox;
        }
        
        .pelo {
            grid-area: pelo;
        }
    
        &__texto:hover {
            display: none;
        }
    }


/* MODIFICACIÓN NOSOTROS */
    .galeria__nosotros {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "fotocamillas"
                            "textouno"
                            "textodos" 
                            "fotopuerta";

        &-items {
            width: auto;
            height: 200px;
            margin: auto;
        }
                        
        .textouno {
            text-align: justify;
        }
        .textodos {
            text-align: justify;
        }
    }

    /* FOOTER */
    .footer__iconos {
        width: 30px;
        height: 30px;
        margin: auto;
    }

    .texto {
        font-size: 11px;
    }

    /* CLIENTE */
    .clientes__grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .clientea {
            grid-column: 1/2;
            grid-row: 1/2;
        }
                        
        .clienteb {
            grid-column: 1/2;
            grid-row: 2/3;
        }
                        
        .clientec {
            grid-column: 1/2;
            grid-row: 3/4;
        }
                        
        .cliented {
            grid-column: 1/2;
            grid-row: 4/5;
        }
                        
        .clientee {
            grid-column: 1/2;
            grid-row: 5/6;
        }
                        
        .clientef {
            grid-column: 1/2;
            grid-row: 6/7;
        }
        .fotoclientes {
            display: none;
        }
    }
                    
    .clientes__tarjetas {
        width: 230px;
        margin: auto;
    }
}

/* TABLET */
@media (min-width: 576px) and (max-width: 992px) {

    .h1__principal {
        text-align: center;
        font-size: 60px;
        color: white;
    }

    .titulo-paginas {
        font-size: 40px;
    }

        /* NAVEGACIÓN */
    .ocultar {
        display: none; 
    }
    
    /* INDEX */
    .portada__img {
        width: auto;
        height: 500px;
    }
    
    /* MODIFICACIÓN SERVICIOS */
    .galeria__servicios {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr 1fr 1fr 1fr;
        grid-template-areas:"manicuria corporal"
                            "facial cabello"
                            "perfilado lifting"
                            "tintura botox";

        .manicuria {
            grid-area: manicuria;
        }

        .corporal {
            grid-area: corporal;
        }

        .facial {
            grid-area: facial;
        }

        .cabello {
            grid-area: cabello;
        }

        .perfilado {
            grid-area: perfilado;
        }

        .lifting {
            grid-area: lifting;
        }

        .tintura {
            grid-area: tintura;
        }

        .botox {
            grid-area: botox;
        }    
    }

    /* NOSOTROS */
    .galeria__nosotros {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "fotocamillas"
                            "textouno"
                            "textodos" 
                            "fotopuerta";
        &-items {
            width: auto;
            height: 300px;
            margin: auto;
        }
        .textouno {
            text-align: justify;
        }
        .textodos {
            text-align: justify;
        }
    }

    /* CLIENTES */
    .clientes__tarjetas {
        width: 200px;
        height: 200px;
    }
}