/* NOSOTROS */
.nosotros__titulo {
    text-align: center;
}

.galeria__nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "fotocamillas textouno"
                        "textodos fotopuerta";
    
    .fotocamillas {
        grid-area: fotocamillas;
        padding: 10px;
    }
                        
    .textouno {
        grid-area: textouno;
        text-align: left;
        margin: auto;
    }
                        
    .textodos {
        grid-area: textodos;
        text-align: right;
        margin: auto;
    }
                        
    .fotopuerta {
        grid-area: fotopuerta;
        padding: 10px;
    }
    &-items {
        width: 600px;
        height: 400px;
        margin: auto;
    }
}

