.grid-centrado {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo-paginas {
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 5px;
    margin: 5px;
}