/* SERVICIOS */
.servicios__grid {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    grid-template-areas:"tintura cejas facial"
                        "manicuria corporal botox"
                        "pelo corporal lifting";
    padding: 15px;

.tintura {
    grid-area: tintura;
    background-image: url("../recursos/serviciostinturafoto.jpg");
    @extend .grid-centrado;
}

.manicuria {
    grid-area: manicuria;
    background-image: url("../recursos/nailscontactos.jpg");
    @extend .grid-centrado;
}

.cejas {
    grid-area: cejas;
    display: flex;
    background-image: url("../recursos/serviciocejas.jpg");
    @extend .grid-centrado;
}

.facial {
    grid-area: facial;
    background-image: url("../recursos/serviciofacial.jpg");
    @extend .grid-centrado;
}

.lifting {
    grid-area: lifting;
    background-image: url("../recursos/servicioslifting.jpg");
    @extend .grid-centrado;
}

.corporal {
    grid-area: corporal;
    background-image: url("../recursos/serviciocorporal.jpg");
    @extend .grid-centrado;
}

.botox {
    grid-area: botox;
    background-image: url("../recursos/serviciolabios.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.pelo {
    grid-area: pelo;
    background-image: url("../recursos/serviciopelo.jpg");
    @extend .grid-centrado;
    }
}

.servicios__texto {
    display: flex;
    color: white;
    font-size: large;
    justify-content:center;
    align-items: flex-end;
    &:hover {
        transform: scale(1.10, 1.10);
        transition: all 20ms;
    }
}    
